

.popup-content {
  margin: auto;
  background: gray;
  width: 30%;
  padding: 5px;
  border-radius: 10px;
  color: white;
}
.popup-arrow {
  color: gray;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.cursive {
  font-family: 'Satisfy', cursive;
  text-shadow: 0 0 0.125em rgb(192 38 211 / 0.5), 0 0 0.45em currentColor;}
